{{yield}}
<div id="contato">
    <div class="ui raised card ">
        <div class="content">
            <div class="ui attached message">
                <div class="header">
                    Entre em contato
                </div>
                <p>enviando uma mensagem</p>
            </div>
            <div class="header" style="margin-bottom: 15px; border-bottom: 2px solid #105584"></div>
            <form {{on "submit" this.onSubmit}} class="ui equal width form container">
                <div class="ui grid stackable field" style="gap:15px; display: flex">
                    <div class="ui left icon input">
                        <label for="contactName">Seu nome</label>
                        <Input @type="text" id="contactName" @value={{this.contactName}} placeholder="Nome completo" />
                    </div>
                    <div class="ui left icon input">
                        <label for="contactEmail">Seu email de contato</label>
                        <Input @type="text" id="contactEmail" @value={{this.contactEmail}}
                            placeholder="Seu contato (tel / email)" />
                    </div>

                </div>
                <div class="ui grid stackable field">
                    <div class="ui left icon input">
                        <label for="subject">Assunto</label>
                        <Input @type="text" id="subject" @value={{this.subject}} placeholder="Natureza do contato" />
                    </div>
                </div>
                <div class="ui grid stackable field ">
                    <div class="ui input">
                        <label for="message">Mensagem para contato</label>
                        <Textarea id="message" rows="6" @value={{this.message}} placeholder="Corpo da mensagem"></Textarea>
                    </div>
                </div>
                <button type="submit" style="margin-left:1em" class="ui submit button" disabled={{this.disableSubmit}}>Enviar</button>
            </form>
        </div>
    </div>
    <img src="{{root-url "/assets/imgs/sampleemail.png"}}" alt="" class="back-img">
</div>

<style>
    #contato {
        margin-bottom: clamp(20px, 10vh, 15vh);
    }

    #contato .card {
        width: 820px;
        z-index: 10;
        margin-inline: clamp(10px, 10vw, 20vw);
        margin-top: clamp(20px, 25vh, 30vh);
        max-width: 80vw;
    }

    #contato .field .input {
        display: flex;
        flex-direction: column;
        gap: 2px;
    }

    #contato .card .content {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    #contato .back-img {
        position: absolute;
        width: 40%;
        right: 2em;
        margin-top: -15em;
        z-index: 9;
    }
</style>