{{!--

# Página de trabalho da construtora
A construtora aqui precisa explicar o trabalho que faz com a cidade e documentar o trabalho como está sendo feito ou
finalizado

farei isso em três sessões:
- apresentação:
- Título do projeto, seguido de uma introdução a cidade, finalizando com um hook a um parágrafo de como a construtora
visa o seu trabalho nela.
- Essa sessão utiliza-se de fotos da obra e da cidade como plano de fundo da sessão, o design dessa sessão precisa ter
uma natureza governamental, então cor branca e imagens com brilho branco nelas para composição
- roadmap
- Título, descrição explicativa abaixo do título, contendo que a fonte para seu conteúdo é atualizado dos relatórios
periódicos da obra
- É a sessão que pode ter design mais técnico, expresso pelo plano de fundo com a logo gráfica e o contraste elegante
- Conteúdo é tópicos das etapas, então um texto em formato de lista
- Galeria
- Sessão de fotos gerais da obra, e possue um design de galeria horizontal comum no mobile, e uma grid full screen com
direito a interação com hover e click no desktop


--}}

<div id="project_content_wrapper">
  <div class="capa_wrapper">
    <div class="ui container">
      <h1>{{@prop_data.titulo}}</h1>
      <DecorativeLogo/>
    </div>
  </div>
  <div id="desc" class="ui container">
    <div class="content">

      {{!-- O título e descrição aqui --}}

      {{markdown-to-html simpleLineBreaks=true markdown=@prop_data.desc}}
      {{!-- A descrição tem que ser produzida de tão forma a começar com o subtítulo, seguido do conteúdo --}}

      {{markdown-to-html simpleLineBreaks=true markdown=@prop_data.short_desc}}
      {{!-- Aqui vai a versão curta de descrição, que aparece na página inicial em destaque --}}

    </div>
  </div>

  {{!-- Roadmap aqui --}}
  <div id="roadmap">
    <div class="ui container">
      <h2>Roadmap</h2>
      <small class="section-sub-titulo">descrição detalhada do andamento da obra por meio de etapas</small>
      {{markdown-to-html @prop_data.road_map_content}}
    </div>
  </div>



  {{!-- fotos diretamente de projetos/,,/fotos --}}
  {{!-- NOTE done: Block abaixo para versão mobile, tenho ver como dinamizar isso no emberjs --}}

  <div id="galeria" class="mobile-gallery ui container">
    <h2 class="centered">Fotos da obra</h2>
    <small class="section-sub-titulo">Galeria completa de nossas imagens da obra até o momento</small>
    <GaleryGeneric @imgStyling="height:62vh" @fotos={{@prop_data.fotos}} as |foto|>
      <SimpleFotoWithCaption @foto={{hash url=(concat "/assets/content/projects/" @prop_data.titulo "/fotos/" foto.url) desc=foto.desc}}/>
    </GaleryGeneric>
  </div>

  <div id="galeria" class="desktop-gallery ui container">
    <h2 id="galeria_title" class="centered">Fotos da obra</h2>
    <small class="section-sub-titulo">Galeria completa de nossas imagens da obra até o momento</small>
    <ul class="image-gallery">
      {{#each @prop_data.fotos as |foto index|}}
      <li>
        <img src="/assets/content/projects/{{@prop_data.titulo}}/fotos/{{foto.url}}" alt="" />
        <div class="overlay"><span>{{foto.desc}}</span></div>
      </li>
      {{/each}}
      {{!-- other items here --}}
    </ul>
  </div>
  {{!-- --}}

</div>


<style class="galeria_styling">
  /** 
  Bloco de estilo para a galeria versão desktop  
  **/
  ul {
    list-style: none;
  }

  .image-gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding-left: 0px;
  }

  .image-gallery>li {
    flex: 1 1 auto;
    /* or flex: auto; */
    height: 300px;
    cursor: pointer;
    position: relative;
  }

  .image-gallery::after {
    content: "";
    flex-grow: 999;
  }

  .image-gallery li img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    vertical-align: middle;
    border-radius: 5px;
  }

  .image-gallery .overlay {
    position: absolute;
    padding: 1.4rem;
    width: 100%;
    height: 100%;
    background: rgba(57, 57, 57, 0.502);
    top: 0;
    left: 0;
    transform: scale(0);
    transition: all 0.2s 0.1s ease-in-out;
    color: #fff;
    border-radius: 5px;
    /* center overlay content */
    display: flex;
    align-items: center;
    justify-content: center;
  }

  /* hover */

  .image-gallery li:hover .overlay {
    transform: scale(1);
  }

  /* desktop gallery styling end */

  #project_content_wrapper {
    padding-top: 0rem;
  }

  #project_content_wrapper #titulo-wrapper h1 {
    flex-wrap: wrap;
    line-height: baseline;
    justify-content: space-between;
    padding-bottom: 2rem;
    align-items: baseline;
    display: flex;
  }

  #project_content_wrapper #titulo-wrapper h1 p {
    color: white;
    background-image: url(/assets/logos/logo_C.svg);
    background-size: 16%;
    background-position: -0.3% 0%;
    font-family: 'Anuphan', sans-serif;
    background-repeat: no-repeat;
    padding: 25px;
    padding-left: 25px;
    padding-left: 20px;
    padding-left: 3rem;
    font-size: 2.5rem;
    text-shadow: 0 1px 0 black;
  }


  #project_content_wrapper #desc {
    font-size: 12pt;
    color: #333c;
    font-family: 'Poppins', sans-serif;
    display: flex;
    letter-spacing: 0.5px;
    height: 100%;
  }

  #project_content_wrapper h2 {
    font-size: 3rem;
    color: #105584;
    font-family: 'Anuphan', sans-serif;
    letter-spacing: -1.5px;
  }


  #desc .content {
    text-align: justify;
    padding-top: 3rem;
    padding-bottom: 8rem;
  }

  .capa_wrapper {
    height: 9.2rem;
    margin-bottom: -3.2rem;
    display: flex;
    align-items: end;
    padding-bottom: 1.2rem;
    position: relative;
  }

  .capa_wrapper 

 

  .capa_wrapper h1 {
    font-size: 4rem;
    color: #105584;
    position: relative
  }

  #desc .content .ember-view {
    margin-bottom: 2rem;
  }



  .mobile-gallery {
    display: none !important;
  }

  .desktop-gallery {
    display: block !important;
  }



  #project_content_wrapper #desc .ui>.column:first-child {
    border-bottom: 1px solid #105584;
  }


  #project_content_wrapper h2 {
    font-size: 3rem;
    color: #105584;
    font-family: 'Anuphan', sans-serif;
    letter-spacing: -1.5px;
  }

  #desc .ember-view {
    position: relative;
    z-index: 10;
    font-weight: 100;
  }

  #project_content_wrapper #roadmap {
    background: url(/assets/logos/logo_C.svg), #105584ff;
    padding-top: 4rem;
    padding-bottom: 4rem;
    color: #ffffff;
    background-size: 40%;
    background-repeat: no-repeat;
    background-position: -5% 45%;
    padding-left: 27vw;
    width: 100vw !important;
  }

  #project_content_wrapper #roadmap h2 {
    color: white;
    font-size: 4rem;
  }

  #project_content_wrapper #galeria {
    padding-top: 4rem;
    min-height: min-content;
    padding-bottom: 0px;
  }

  @media (max-width: 766px) {
    .mobile-gallery {
      display: block !important;
    }

    .desktop-gallery {
      display: none !important;
    }
  }

  @media (max-width: 544px) {
    #project_content_wrapper #titulo-wrapper {
      padding-bottom: 0px;
    }

    #project_content_wrapper #roadmap {

      padding-left: 0px;
    }

    #project_content_wrapper #desc {
      padding-top: 2rem;
    }
  }
</style>