<section id="sessao-contamosCom">
    <div class="container">
        <div class="ui container grid stackable wrapper">
            <div class="ui two grid container row">

                <div class="topico_content ui" style="">
                    <img class="ui display_img" src={{root-url this.atual_content.display_img}} alt="">
                    <div class="text_wrapper">
                        <h3>{{this.atual_content.titulo}}</h3>
                        <p>{{this.atual_content.texto}}</p>
                    </div>
                </div>
            </div>
            <div class="ui row centered controls" style="gap:20px">
                {{#each @valoresContent as |valorContent index|}}
                <img {{on "click" (fn this.changeContentIndex index)}} src="{{valorContent.icon}}" alt=""
                    class="ui tiny image">
                {{/each}}
            </div>
        </div>
    </div>
</section>

<style>
    #sessao-contamosCom {
        padding-top: 1.5rem;
        width: 100vw;
        height: min-content;
        background-color: #ffffff;
    }

    #sessao-contamosCom>.container {
        margin-top: 2rem;
    }

    #sessao-contamosCom>.container>.wrapper {
        gap: 20px
    }

    #sessao-contamosCom .controls img {
        cursor: pointer;
        transition: all 0.2s ease;
        filter: brightness(85%);
    }

    #sessao-contamosCom .controls img:hover {
        filter: brightness(100%);
        transform: scale(1.02);
    }

    #sessao-contamosCom #sectionTitle {
        color: #1b5478;
        text-shadow: none;
        padding-top: 0rem;
    }

    #sessao-contamosCom .topico_content {
        display: flex;
        flex-wrap: wrap;
        margin-right: auto;
        height: 60vh;
        gap: 2rem;
        margin-bottom: 1rem;
    }

    #sessao-contamosCom .topico_content h3 {
        font-size: 3rem;
        color: #105584;
    }

    #sessao-contamosCom .topico_content img {
        height: 100%;
        width: 50%;
        object-fit: cover;
        padding-right: 1vw;
        padding-bottom: 1.5vw;
    }

    #sessao-contamosCom .topico_content .text_wrapper {
        width: 45%;
    }

    #sessao-contamosCom .topico_content p {
        font-size: 1.5rem;
        order: 3;
    }

    @media (max-width: 590px) {
        #sessao-contamosCom #sectionTitle {
            position: absolute;
            margin-top: 0vh;
        }

        #sessao-contamosCom .topico_content {
            margin-top: 4rem;
            display: flex;
            flex-wrap: wrap;
            height: min-content;
            max-height: 80vh;
        }

        #sessao-contamosCom .topico_content .text_wrapper {
            width: 100%;
        }


        #sessao-contamosCom .topico_content h3 {
            font-size: 2rem;
        }

        #sessao-contamosCom .topico_content p {
            font-size: 1rem;
        }

        #sessao-contamosCom .topico_content img {
            max-height: 40vh;
            width: 100%;
            margin-top: 1rem;
            margin-bottom: 1rem;
            object-fit: cover;
        }
    }
</style>